<?xml version="1.0"?>

<robot name="mobile_bot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name ="PI" value="3.1415926535897931"/>

    
    <xacro:include filename="$(find mobile_bot)/urdf/mobile_bot.urdf.xacro"/>
    
    <xacro:include filename ="$(find mobile_bot)/urdf/gazebo_description/mobile_bot.gazebo"/>
    
    <xacro:include filename ="$(find mobile_bot)/urdf/gazebo_description/material.gazebo"/>

    <xacro:include filename ="$(find mobile_bot)/urdf/gazebo_description/plugin.gazebo"/>

    <xacro:include filename ="$(find mobile_bot)/urdf/gazebo_description/physics.gazebo"/>

    <xacro:include filename ="$(find mobile_bot)/urdf/mobile.ros2_control"/>
    <!--########################################################################################-->
    <link name = "base_footprint"></link>

    <joint name="base_link_joint" type="fixed">
        <origin xyz="0 0 0.15" rpy="0 0 ${PI/2}"/>
        <parent link= "base_footprint"/>
        <child link = "chassis"/>
        <axis xyz="0 0 0"/>
    </joint>

</robot>